*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bank-details{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}
.bank{
    text-align: center;
}
.bank-details p ,h1{
    display: block;
    padding: 20px;
    border-radius: 10px;
    font-size: 3vw;
}